<h1 align = "center"><u><i> MOVIES-R-US</i></u> </h1>

<h1><%=grabber.title%></h1>

<p>This site is for my family an I, because we know how to watch movies....</p>

<p><i>This application will give you all the information needed on popular movie titles</i></p>
<br>
<br>
<%= form_with url: moviegrab_path, local: true, method: :post do %>

<p><i><b><%= label_tag "Pick a type of Movie:" %></i></b></p>
<%= select_tag "movie_breakdown", 
options_for_select(["Horror","Love", "Mystery","Suspense","Sci-Fi","Rated +18"], 
feedback.fetch("", :movie_breakdown)), prompt: "Choose one..." %>

<% end %>